<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    table html body {
        max-height: 999999px;
        font-family: serif;
        font-size: calc(1rem + 1vw);
    }
    
    div.footnote {
        max-height: 999999px;
        font-size: 80%
    }
    
    @media(min-width:30em) {
        html {
            font-size: 90%
        }
        div.footnote {
            font-size: 90%
        }
    }
    
    table {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    
    table td,
    table th {
        border: 1px solid #AAAAAA;
        padding: 2px 3px;
        padding-left: 5px;
        vertical-align: top;
    }
    
    table tbody td {
        max-height: 999999px;
    }
    
    table tbody td.bold {
        font-weight: bold;
    }
    
    table tbody td input:read-only {
        border: 0px;
        background-color: yellow;
    }
    
    table tbody td input {
        width: 20vw;
        max-width: 20vw;
        height: 110%;
        text-align: right;
        font-size: 1rem;
    }
    
    table tbody td select {
        width: 20vw;
        height: 110%;
        max-width: 20vw;
        font-size: 1rem;
    }
    
    table tr:nth-child(even) {
        background: #D0E4F5;
    }
    
    table thead {
        background: #1C6EA4;
        background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        border-bottom: 2px solid #444444;
    }
    
    table thead th {
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
        border-left: 2px solid #D0E4F5;
    }
    
    table thead th:first-child {
        border-left: none;
    }
    
    table.purpleTable tr:nth-child(even) {
        background: #F3D4F5;
    }
    
    table.purpleTable thead {
        background: #A220A4;
        background: -moz-linear-gradient(top, #b958bb 0%, #ab36ad 66%, #A220A4 100%);
        background: -webkit-linear-gradient(top, #b958bb 0%, #ab36ad 66%, #A220A4 100%);
        background: linear-gradient(to bottom, #b958bb 0%, #ab36ad 66%, #A220A4 100%);
    }

    .category {
        font-weight: bold;
    }

    .subcategiry {
        font-style: italic;
    }

    @media print {
        button, :placeholder-shown, .debug, .more {
            display: none;
        }
    }

    a.more {
        color:red;
        text-decoration: underline;
        font-style: italic;
        font-size:smaller ;
        cursor: pointer;
    }

    .more-text {
        font-style: italic;
        font-size:smaller ;
        cursor: pointer;
    }

    /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text  */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>

<!--
<script src="vue.js"></script>
-->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
</script>
<script>
   var more = Vue.component('more', {
        props: ['teaser','retain'],
        template: `
            <span :key="show" @click.stop="toggle">
                <a v-if="!show" class="more" v-html="morelink"></a>
                <a v-else-if="retain" class="more-text" v-html="morelink"></a>
                <span v-show="show" class="more-text"> <slot> </slot> </span>
            </span>
        `,
        data() {
            return { 
                show:false,
                morelink: this.teaser || 'Learn more...'
            }
        },
       methods: {
            toggle(){ this.show = !this.show},
        }
    })
</script>


<div id="complications">
<table class="purpleTable">
    <thead>
        <tr>
            <th colspan="2">UNDERSTANDING YOUR RISK FOR COVID-19 COMPLICATIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">Understanding your risk for serious COVID-19 complications can help you decide whether to meet with others face-to-face. 
                Older ages and having certain health conditions are the main risk factors for COVID-19 complications. However,
                other household members should factor into your overall risk for COVID complications.
            </td>
        </tr>
        <tr>
            <td>What age group are you in?
                <more teaser='How does age impact your risk?'> Older people have substantially greater risk for
                    COVID-19 complications, hospitalizations, ICU care, and
                    deaths. Those in older age groups are assigned a higher risk
                    score: &lt;30, 30-49, 50-64, and &ge;65 has a risk score of 0.5, 1, 2,
                    and 3, respectively </more>
            </td>
            <td> <DictSelect v-model="Self.age" :dict=AgeDict></DictSelect> </td>
        </tr>
        <tr>
            <td>How many health conditions do you have that put you at increased risk of COVID-19 complications?
                <more> Those with one or more pre-existing health
                    conditions are more likely to develop serious complications
                    when infected with COVID-19. Those with more pre-existing
                    health conditions are assigned a higher risk score: Zero, one,
                    or more than one health conditions has a risk score of 1, 2,
                    and 3, respectively. The most common health conditions associated with serious COVID-19 
                    complications include: obesity, cardiovascular diseases, chronic respiratory diseases, chronic
                    kidney diseases, diabetes, hypertension, cancer, immunosuppressive drugs. A full list can
                be found on the <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-with-medical-conditions.html">CDC website</a>.</more>
            </td>
            <td> <DictSelect  v-model="Self.health" :dict="HealthDict"></DictSelect></td>
        </tr>
        <tr>
            <td>Complication Risk Score
                <more teaser="How is Risk Score calculated?"> Being older and having pre-existing health conditions puts 
                    you at much greater risk for serious COVID-19 complications
                     than if you only have one but not the other.  
                     Your calculated risk score is determined by multiplying the risk score for your age with the risk score for
                    your number of pre-existing health conditions. This risk score ranges between 0.5 to 9.
                </more>
            </td>
            <td><input readonly=true :value="Self.score() | decimal" :key="Self.score()">  </input>
            </td>
        </tr>
        <tr>
            <td>Calculated Risk
                <more>  
                    Calculated Risk provides a qualitative estimate of your risk using your calculated risk score. 
                    Your risk is very low if the risk score is &lt;1, low if 1-2, medium if 3-5, high if &gt;5   
                </more>
            </td>
            <td><input readonly=true :value="Self.risk()" :key="Self.risk()"></input>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2" class=bold>Among those living with you</td>
        </tr>
        <td colspan="2">
        <p>You should consider the risk of serious complications among those living with you. 
            If you get infected, you may infect them and put them at risk for COVID-19 complications. 
            Together, these considerations help to
            determine your <em>Overall Risk</em> for COVID-19 complications. </td>
        <tr>
            <td>What is the age group of the oldest person you are living with?
                <more teaser='How does age impact risk?'> Older people have substantially greater risk for
                    COVID-19 complications, hospitalizations, ICU care, and
                    deaths. Those in older age groups are assigned a higher risk
                    score: &lt;30, 30-49, 50-64, and &ge;65 has a risk score of 0.5, 1, 2,
                    and 3, respectively. Those living alone are assigned a risk score of zero.
                 </more>
                </td>
            </td>
            <td> <DictSelect v-model="Others.age" :dict=OthersAgeDict></DictSelect> </td>
        </tr>
        <template v-if="Others.age && Others.age[1] > 0">
        <tr>
            <td>Among those living with you, think about the person with the highest number of health conditions 
                that put him/her at increased risk of COVID-19 complications. How many health conditions does that person have?
                <more> Those with one or more pre-existing health
                    conditions are more likely to develop serious complications
                    when infected with COVID-19. Those with more pre-existing
                    health conditions are assigned a higher risk score: Zero, one,
                    or more than one health conditions has a risk score of 1, 2,
                    and 3, respectively.</more>
                </td>
            <td> <DictSelect is="DictSelect" v-model="Others.health" :dict="HealthDict"></DictSelect></td>
        </tr>
        <tr>
            <td>Risk score for others you live with 
                <more teaser="How is Risk Score calculated?"> Being older and having pre-existing health conditions puts 
                    a person at much greater risk for serious COVID-19 complications
                     than if they only have one but not the other.  
                     The calculated risk score is determined by multiplying the risk score for oldest person you are living with
                      and the risk score for the person with the highest number of pre-existing health conditions. 
                    For simplicity, we are using the same calculation for this score even if the 
                    previous answers refer to two different person.
                </more>
            </td>
            <td><input readonly=true :value="Others.score() | decimal" :key="Others.score()"></input>
            </td>
        </tr>
        <tr>
            <td>Risk of those living with you
                <more>  
                    Calculated Risk provides a qualitative estimate of the risk for those living with you. 
                    Their risk is very low if the risk score is &lt;1, low if 1-2, medium if 3-5, high if &gt;5   
                </more>
            </td>
            <td><input readonly=true :value="Others.risk()" :key="Others.risk()"></input>
            </td>
        </tr>
        </template>
        <tr> 
            <td> Your Overall Risk for Covid-19 Complications 
            <more v-if="Others.age && Others.age[1] > 0">
            Comparing your estimated risk for COVID-19 complications to the risk of those living with you. Your overall risk is the higher of the two. 
            This is because you have to consider the impact on others if you should become infected and then transmit COVID-19 to others who live with you. 
            Their risk of developing serious complications is part of your overall risk.            
            </more>
            </td>
            <td><input readonly=true :value="overallRisk()" :key="overallRisk()"></input>
        </tr>
        <tr v-if="overallRisk()">
            <td colspan="2">
            <b>How to use your risk assessment result.</b> Since you have <b>{{overallRisk()}}</b> overall complication risk, {{riskAdvice[overallRisk()]}} </more>
            </td>
        </tr>
    </tbody>
</table>
 
    <more teaser="Recommendations for different complication risk levels..." retain=true style="font-size:larger;">
    <ul>
        <li v-for="(advice,risk) in riskAdvice">
        <more :teaser="'If you have <b>' + risk + '</b> complication risk...'" retain=true>
           {{advice}}
        </more>  
    </li>    
    </ul>
    </more>
<div> 
    <span v-if="debug" class="debug"> <input placeholder="key for local storage (optional)" v-model="key">
        <button @click="load()">Load</button> <button @click="save()">Save</button> </span>   
    <button type="button" @click="resetFields()" >Reset</button> 
</div>

</div>

<script>
    let u = new URLSearchParams(window.location.search)
    let debug = u.get("debug") != null;


    const eventBus = new Vue() 

    function amend(dict,prefix,key,val) {
        let delim = prefix && key ? "_" : ""
        let k = `${prefix}${delim}${key}`
        if (val) {
            dict[k] = val
        }
    }

    function amendTuple(dict,prefix,key,val) {
        let delim = prefix && key ? "_" : ""
        let k = `${prefix}${delim}${key}`
        if (val) {
            dict[k] = val?val[0]:null
            dict[`${k}_val`] = val?val[1]:null
        }
    }

    Vue.filter('decimal',
        function(val) { 
            if (!val) return val
            return Math.round(val*1000)/1000 
         })

    Vue.filter('keycheck',
        function(tuple) {        
            return tuple ? tuple[0] : null
        })
    
    var DictSelect = 
    Vue.component('DictSelect', {
        props: ['value','dict'],
        template: `<select  @input="$emit('input',[$event.target.value,dict[$event.target.value]])" :value="value?value[0]:null">
            <option selected="true" disabled="true" ></option>
            <option v-for="(val,key) in dict" :key="key"> {{ key }} </option>
            </select>
        `
    })

    const AgeDict = {
        "Under 30":0.5,
        "30-49":1,
        "50-64":2,
        "over 65":3
    }

    const OthersAgeDict = {
        "Under 30":0.5,
        "30-49":1,
        "50-64":2,
        "over 65":3,
        "I live alone":0
    }


    const HealthDict = {
        0:1,
        1:2,
        "more than 1":3
    }

    const riskAdvice = {
        'High': `you should consider only meeting others in person when the level of COVID-19 infection in the community is low or very low. 
                If you decide to meet with others, protect yourself by meeting them outdoor or in a larger room with good ventilation. 
                Always use facemask and maintain social distance of at least 6 feet. 
                When forming a group bubble with others, consider only meeting with individuals who have a very low risk of having COVID-19 infection.`,
        'Medium':`you should consider meeting with others in person when the level of COVID-19 infection in the community is at a medium level or lower.
                If you decide to meet with others, protect yourself by meeting them outdoor or in a larger room with good ventilation. 
                Always use facemask and maintain social distance of at least 6 feet. 
                When forming a group bubble with others, consider meeting with individuals who have a low or very low risk of having COVID-19 infection.`,
        'Low':`you can meet with others in person when the level of COVID-19 infection in the community is at a medium level or lower. 
            If you decide to meet with others, consider meeting them outdoor or in a room with good ventilation. 
            Always use facemask and maintain social distance of at least 6 feet. When forming a bubble with others, 
            meet with individuals who have a medium or lower risk of having COVID-19 infection.`,
        'Very Low': `you can meet with others in person as long as your local public health department allows it. 
            If you decide to meet with others, consider meeting them outdoor or in a room with good ventilation. 
            Always use facemask and maintain social distance of at least 6 feet unless the level of COVID-19 
            infection in the community is very low. 
            When forming a group bubble, you can meet with individuals with a broad range of risk of having COVID-19 infection.`
    }

    class ComplicationRisk {
        constructor(index) {
            this.index = index
            this.health = null
            this.age = null
        }

        healthscore() { return this.health?this.health[1]:null }
        agescore() { return this.age?this.age[1]:null }

        score() {
            let t = this.healthscore()*this.agescore() 
            return t > 0 ? t : null;
        }

        risk() {
            if (this.score() == null) return null;
            if (this.score() < 1) return "Very Low";
            if (this.score() < 3) return "Low";
            if (this.score() <= 5) return "Medium";
            if (this.score() > 5) return "High";
            return null
        }

        flatten(dict) {
            let prefix = this.index
            amendTuple(dict,prefix,'health',this.health)
            amendTuple(dict,prefix,'age',this.age)
            amend(dict,prefix,'score',this.score())
            amend(dict,prefix,'risk',this.risk())
        }


    }

    var complicationsApp = new Vue({
        el: '#complications',
        data() { 
            return(                 
                {
                    Self: new ComplicationRisk("self"),
                    Others: new ComplicationRisk("others"),
                    PerceivedRisk: null,
                    debug:debug,
                    key:null
                } )
        },
        created () {
            eventBus.$on('toggleDebug',this.toggleDebug)
            this.AgeDict = AgeDict
            this.HealthDict = HealthDict
            this.OthersAgeDict = OthersAgeDict
            this.riskAdvice = riskAdvice
        },
        components : {
            more: more,
            dictselect: DictSelect
        },
        methods: {
            overallRisk() {

                let risk = this.Self.risk();
                if (risk && (this.Others.score() > this.Self.score())) {
                    risk = this.Others.risk()
                }
                return risk
            },
            
            resetFields() {
                Object.assign(this.$data, this.$options.data.call(this));
            },
        
            load(){
                let k = 'complications' + (this.key?this.key:"")
                data = localStorage.getItem(k)
                Object.assign(this.$data, JSON.parse(data))
                let cr = new ComplicationRisk()
                this.Self.__proto__ = cr
                this.Others.__proto__ = cr
            },
            save() {
                let complications = JSON.stringify(complicationsApp.$data)
                let k = 'complications' + (this.key?this.key:"")
                localStorage.setItem(k, complications )
            },
            flatten(dict) {
                this.Self.flatten(dict);
                this.Others.flatten(dict);
                amend(dict,'self','PerceivedRisk',this.PerceivedRisk)
            },
            toggleDebug() {
                this.debug = !this.debug; this.$forceUpdate()
            }

        }
    })

</script>

<br/>
<br/>


<div id="infection">

    <table>
        <thead>
            <tr>
                <th colspan="2">UNDERSTANDING YOUR RISK OF BEING INFECTED WITH COVID-19 </householdmember>
            </tr>
        </thead>
        <tr>
            <td colspan="2">
                Your risk of getting COVID-19 is related to how much close contact you have with other people and the chance that they are infected with COVID-19. 
                To assess your risk, this assessment generates a contact score for you. The higher the score, the greater your risk of being infected through your contacts.
                 You may choose to meet with others who have a certain risk of being infected with COVID-19.
                 <p></p>
                <u>Important:</u> The questions below refer only to close contacts during the past 14 days. 
                Close contact is defined as being together within <b> 6 feet or 2 meters for at least 15 minutes</b>. 
                Multiple short contacts over the past 2 weeks adding up to 15 minutes meets this definition.
                <p/>
                </td>
        </tr>
        <tr> <td colspan="2" class="category" >Contacts of those living with you</td></tr>
        <tr>
            <td>Consider the people you live with, how many of them met with other people <b>indoor</b> over the past 2
                weeks? 
                <more teaser="What about those who do not go out?">  
                    Do not include anyone living with you who did not meet with anyone outside your home, 
                    e.g. a toddler, stay-at-home spouse </more>
            </td>
            <td><input  type="number" v-model="HouseholdSize" placeholder="household" @input="checksize()" @keyup="checkkey($event)">   </input> 
            </td>
        </tr>

        <tr v-if="HouseholdMembers.length > 0">
            <td colspan="2"> 
            List each of these individuals and their relationship with you: spouse or significant other, child, parent, sibling, other relative, or other. 
            </td></tr>
        <tbody v-for="member in HouseholdMembers" is="HouseholdMember" :key="member.index" :mem="member" :memberscount="HouseholdSize" 
                @updatescore="UpdateTotalScore()"></tbody>     
        <tr v-if="HouseholdSize > 0">
            <td> Total Household Contact Score 
                <more> We added up each of your household member's infection risk score to come up with your household contact score.
                </more>
            </td>
            <td> <input readonly :value="HouseholdScore | decimal" :key=HouseholdScore ></input> </td>
        </tr>

        <tr> <td colspan="2" class="category" >Close indoor contacts</td></tr>
        <tr> <td colspan="2"> 
            Consider the close contacts whom you don&apos;t live with but met with indoor over the past 2 weeks. 
            What is the number of close contact you met with at work, at social activities, at school, or at other activities?
        </td></tr>        
        <tbody v-for="insidetype in Insides" is="ContactScore" :contact="insidetype" :key="insidetype.index" @updatescore="UpdateTotalScore()"></tbody>
        <tr v-if="InsideScore > 0">
            <td> Total Indoor Contact Score </td>
            <td> <input readonly :value="InsideScore | decimal" :key=InsideScore ></input> </td>
        </tr>

        <tr> <td colspan="2" class="category" >Close outdoor contacts</td></tr>
        <tr> <td colspan="2"> 
            Consider the close contacts whom you don&apos;t live with but met with outdoor over the past 2 weeks.        
        </td></tr>

        <tbody  is="ContactScore" :contact="Outside" :isoutdoor=true @updatescore="UpdateTotalScore()"></tbody>

        <tr style="font-size:large;font-weight:bold;">
            <td> Overall Contact Score 
                <more>
                    Your total contact risk score is the sum of your risk from those you live with and your risk from being in close 
                    contact with other indoor and outdoor. 
                </more>
            </td>
            <td> <input readonly :value="TotalScore | decimal" :key=TotalScore ></input> </td>
        </tr>


    </table>
    <div style="float:left;">
        <span v-if="debug" class="debug"> <input placeholder="key for local storage (optional)" v-model="key">
            <button @click="load()">Load</button> <button @click="save()">Save</button> </span>    
        <button type="button" @click="resetFields()" >Reset</button> 
    </div>
</div>

<script>
    Vue.component('BehaviorSelect', {
        props: ['value','hasunknown'],
        template: `
            <DictSelect  
                v-model="selectedOption"
                @input="$emit('input',selectedOption)"
                :dict=BehaviorDict :value="value">
            </DictSelect>
        `,
        created() {
            let BehaviorDict = {
                'All of the time':0.5,
                'Half of the time or more':0.75,
                'Less than half of the time': 1,
            } 
            if (this.hasunknown) {  Object.assign(BehaviorDict, {'Do not know':1 }) }
            this.BehaviorDict = BehaviorDict
        },
        data() {
            return { selectedOption: this.value}
        },
    })


    
    class HouseholdMember {
         constructor(index) {
             this.index = index,
             this.name = null,
             this.mask = null,
             this.socialdistance = null,
             this.relationship = null
         };

         maskScore() {
             return this.mask == null?0:this.mask[1];
         }

         sdScore() {
             return this.socialdistance == null?0:this.socialdistance[1];
         }

         score() {
            return 12*this.maskScore() * this.sdScore()     
         }

         flatten(dict){
             let prefix = `household_${this.index}`
             amend(dict, prefix, 'relationship', this.relationship)
             amendTuple(dict, prefix, 'mask', this.mask)
             amendTuple(dict, prefix, 'socialdistance', this.socialdistance)
             amend(dict, prefix, 'score', this.score())
        }
    }

    Vue.component('HouseholdMember', {
        props: ['mem','memberscount'],
        template: `<tbody>
                   <tr>
                   <tr>
                    <td colspan=2 style="padding-left:2rem"> {{mem.index + 1}} of {{memberscount}}  
                        <span style="float:right;margin-right:1rem">
                        <input placeholder="Nickname (optional)" v-model:value="mem.name"> </input> 
                        <span style="margin-left:1rem"></span>
                        <select v-model:value="mem.relationship">
                            <option :value=null disabled="true"> Relation to you </option>
                            <option> spouse </option>
                            <option> child </option>
                            <option> sibling </option>
                            <option> parent </option>
                            <option> relative </option>
                            <option> other </option>
                        </select>
                        </span>
                    </td>
                   </tr>
                   <tr>
                    <td> When meeting with other people indoor, does he/she maintain social distance (at least 6 feet)?
                        <more> Maintaining social distance reduces the risk of COVID-19 transmission. 
                            We assigned a score of 0.5 when social distance was always maintained, a score of 0.75 
                            when it was mostly maintained, and a score of 1 if it was not consistent. If you do not know, we assume 
                            that social distance was not consistently maintained and assign a score of 1.
                        </more>
                        </td>
                    <td> <BehaviorSelect v-model="mem.socialdistance" :hasunknown=true  @input="updateScore()" :key="mem.socialdistance | keycheck" ></BehaviorSelect> </td>
                   </tr>
                   <tr>
                    <td> When meeting with other people indoor, does he/she use a face mask? 
                        <more>
                        Use of a face mask reduces the risk of COVID-19 transmission. 
                        We assigned a score of 0.5 when face masks were always used, a score of 0.75 
                            when face masks were mostly used, and a score of 1 if it was not consistent. If you do not know, we assume 
                            that face masks was not consistently used and assign a score of 1.
                        </more>
                    </td>
                    <td> <BehaviorSelect v-model="mem.mask" :hasunknown=true @input="updateScore()" :key="mem.mask | keycheck"></BehaviorSelect> </td>
                  </tr>
                  <tr>
                    <td style="text-transform:capitalize"> {{identifier()}} infection risk score 
                        <more teaser="How did we calculate this score?">
                            We estimated your risk of getting infected wtih COVID-19 from {{identifier()}} by multiplying 
                            the impact of mask wearing and social distance adherence.
                            Since the risk of transmission among those who live together is over 10 times greater than among those not living together so
                            we further multiplied this by a factor of 12.
                        </more>
                    </td>
                    <td> <input readonly :value="mem.score() | decimal" :key="mem.score()"></input> </td>
                  </tr>
                  </tbody>
                `,

        methods: {
            updateScore() { this.score = this.mem.score(); this.$emit('updatescore') },
            identifier() {
                if (this.mem.name) {return this.mem.name}
                let rel = this.mem.relationship
                if (rel && rel != "other") {
                    return `your ${rel}`
                }
                return `housemate ${this.mem.index + 1} of ${this.memberscount}`   
            }
        },
        components: {
            more: more
        }
    })

    

    class ContactScore {
        constructor(index,prompt) {
            this.index = index
            this.mask = null
            this.socialdistance = null
            this.smallroom = null
            this.count = null
            this.frequency = null
            this.prompt = prompt?prompt:`at ${index}`
        };

        maskScore() {
             return this.mask == null?0:this.mask[1];
        }

        sdScore() {
             return this.socialdistance == null?0:this.socialdistance[1];
        }

        smallroomScore() {
            if (this.index == 'outside') { return 1}
            return this.smallroom == null?0:this.smallroom[1];
        }

        frequencyScore() {
            return this.frequency == null?0:this.frequency[1];
        }

        score() {
            return  this.count*this.maskScore()*this.sdScore()*this.smallroomScore()*this.frequencyScore();
        }

        flatten(dict) {
            let prefix = this.index
            amendTuple(dict,prefix,'mask',this.mask)
            amendTuple(dict,prefix,'socialdistance',this.socialdistance)
            amendTuple(dict,prefix,'smallroom',this.smallroom)
            amendTuple(dict,prefix,'frequency',this.frequency)
            amend(dict,prefix,'score',this.score())
            amend(dict,prefix,'count',this.count)
        }
    }  



    Vue.component('ContactScore', {
        props: ['contact','isoutdoor'],
        template: `<tbody>
                  <tr>
                    <td> Number of {{isoutdoor?'outdoor':'indoor'}} close contacts you met with <b>{{contact.prompt}}</b>? </td>
                    <td> <input  type="number" v-model="contact.count" :placeholder="contact.index" @input="checkContact()" ></input> </td>
                  </tr>
                  <template v-if="contact.count > 0">
                  <tr>
                    <td> When you met with them, did you maintain social distance from them (at least 6 feet)? 
                        <more>
                            Maintaining social distance reduces the risk of COVID-19 transmission. 
                            We assigned a score of 0.5 when social distance is always maintained, a score of 0.75 
                            when it is mostly maintained, and a score of 1 if it is not consistent. 
                        </more>
                    </td>
                    <td> <BehaviorSelect v-model="contact.socialdistance"  @input="updateScore()" :key="contact.socialdistance | keycheck" ></BehaviorSelect> </td>
                   </tr>
                   <tr>
                    <td> When you met with them, did you use a face mask? 
                    <more>
                        Use of a face mask reduces the risk of COVID-19 transmission. 
                        We assigned a score of 0.5 when face masks were always used, a score of 0.75 
                            when face masks were mostly used, and a score of 1 if it was not consistent. 
                    </more>
                    </td>
                    <td> <BehaviorSelect v-model="contact.mask" @input="updateScore()" :key="contact.mask | keycheck"></BehaviorSelect> </td>
                  </tr>
                  <tr v-if="!isoutdoor">
                    <td> What proportion of the time did you meet them in a room the size of or smaller than a small 
                        restaurant or a Starbucks? (If you only met in a larger room, then answer “none of the time”.)
                        <more>  Transmission increases in smaller rooms. 
                            Those who did not meet in small rooms get a score of 1. 
                            Less than half the time the score is 1.5. If ofen then the score is 2. 
                        </more>
                    </td>
                    <td> <DictSelect :dict="SmallRoomDict" v-model="contact.smallroom" @input="updateScore()" :key="contact.smallroom | keycheck" ></DictSelect> </td>
                  </tr>
                  <tr>
                    <td> How frequently did you meet with them?
                    <more>
                        Your chances of getting infected increases the more often you are in close contact with people. 
                        Hence your frequency score increases with frequency of meetings. 
                        <span v-if="contact.index=='outside'"> 
                            Those who meet less than once a week are assigned a frequency score of 0.4; 
                            those meeting 1-2 times a week have a score of 0.6, and those meeting 3 or more times a week have a score of 0.8.
                        </span>
                        <span v-else>
                            Those who meet less than once a week are assigned a frequency score of 0.5; 
                            those meeting 1-2 times a week have a score of 1, and those meeting 3 or more times a week have a score of 1.5.
                        </span>  
                    </more>
                    </td>  
                    <td> <DictSelect :dict="FrequencyDict" v-model="contact.frequency" @input="updateScore()" :key="contact.frequency | keycheck"></DictSelect> </td>                    
                  </tr>
                  <tr>
                    <td> {{isoutdoor?'Outdoor':('Indoor ' + contact.index)}}  contact score 
                    <more>
                        We estimate your risk of getting COVID-19 when you are with close contact {{contact.prompt}} 
                        by multiplying the number of these close contacts with whether you maintained social distancing, 
                         {{isoutdoor?"":"met in smaller rooms,"}}
                           and used face mask, along with the frequency of your meeting your contacts.
                    </more>
                    </td>
                    <td> <input readonly :value="contact.score() | decimal" :key="contact.score()"></input> </td>
                  </tr>
                  </template>
                </tbody>                  
                `,
        created() {
            const IndoorFrequencyDict = {
                'Less than once a week':0.5, 
                '1-2 times a week': 1,
                '3 or more times a week': 1.5
            }
            const OutdoorFrequencyDict = {
                'Less than once a week':0.4, 
                '1-2 times a week': 0.6,
                '3 or more times a week': 0.8
            }

            const SmallRoomDict = {
                    'None of the time':1, 
                    'Less than half of the time':1.5,
                    'More than half of the time':2
            }

            this.SmallRoomDict =  SmallRoomDict
            this.FrequencyDict = this.isoutdoor?OutdoorFrequencyDict:IndoorFrequencyDict
        },
        methods: {
            updateScore() { this.score = this.contact.score(); this.$emit('updatescore') },
            checkContact() { if (this.contact.count < 0) { this.contact.count = null;  } 
                            this.updateScore(); }
        },
        components: {
            more: more,
        }
    })


    
    var infectionApp = new Vue({
        el: '#infection',
        data() {
            return {
            HouseholdSize: null,
            HouseholdMembers: [],
            DiscardedMembers: [],
            HouseholdScore: 0,
            InsideScore:0,
            Insides: {
                Work: new ContactScore("work"),
                SocialActivities: new ContactScore("social activities","through social activities"),
                School: new ContactScore("school"),
                Other: new ContactScore("other activities","through other activities")
            },
            Outside: new ContactScore("outside","outside"),
            TotalScore: 0,
            debug:debug,
            key:null
        }},
        methods: {
            checkkey: function(e) { 
                if (e.key === '@') { this.debug = !this.debug; eventBus.$emit('toggleDebug'); this.$forceUpdate() } 
            },
            checksize: function(str) {
                if (this.HouseholdSize < 0) { this.HouseholdSize = 0; this.$forceUpdate(); }
                if (this.HouseholdSize > 10) { this.HouseholdSize = 10; this.$forceUpdate(); }

                while (this.HouseholdMembers.length < this.HouseholdSize ) {
                    if (this.DiscardedMembers.length > 0) {
                        this.HouseholdMembers.push(this.DiscardedMembers.pop());
                    } else {
                        this.HouseholdMembers.push(new HouseholdMember(this.HouseholdMembers.length))
                    }
                }
                while (this.HouseholdMembers.length > this.HouseholdSize ) {
                    this.DiscardedMembers.push(this.HouseholdMembers.pop());
                }
                this.UpdateTotalScore()
            },
            UpdateTotalScore: function() {
                this.TotalScore = 0

                this.HouseholdScore = 0
                for (member of this.HouseholdMembers) {
                    this.HouseholdScore += member.score();
                }

                this.InsideScore = 0
                for (key in this.Insides) {
                    this.InsideScore += this.Insides[key].score();
                }

                this.TotalScore = this.HouseholdScore + this.InsideScore + this.Outside.score()
            },
            resetFields() {
                Object.assign(this.$data, this.$options.data.call(this));
            },

            
            load(){
                let k = 'infection' + (this.key?this.key:"")
                data = localStorage.getItem(k)
                Object.assign(this.$data, JSON.parse(data))
                let hm = new HouseholdMember()
                for (h of this.HouseholdMembers) {
                    h.__proto__ = hm
                }

                for (h of this.DiscardedMembers) {
                    h.__proto__ = hm
                }

                let cs = new ContactScore()
                for (i in this.Insides) {
                    this.Insides[i].__proto__ = cs
                }
                this.Outside.__proto__ = cs
                this.$forceUpdate()
            },
            save() {
                let infection = JSON.stringify(this.$data)
                let k = 'infection' + (this.key?this.key:"")
                localStorage.setItem(k, infection )
            },
            flatten(dict) {
                amend(dict,"",'HouseholdSize',this.HouseholdSize)
                amend(dict,"",'HouseholdScore',this.HouseholdScore)
                for (hm of this.HouseholdMembers) {
                    hm.flatten(dict)
                }
                for (cs in this.Insides) {
                    this.Insides[cs].flatten(dict)
                }
                amend(dict,"",'InsideScore',this.InsideScore)
                this.Outside.flatten(dict)
                amend(dict,"",'TotalScore',this.TotalScore)
            }
        },
        components: {
            more:more
        }

    })

</script>

<div style="float:right;" id="form"> 
        <button type="button" onclick="print()" >Print</button> 
        <button type="button" @click="share()" >Share</button> 
</div>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwWNvUSiJiria3hew6MHD6bd3zVP_3WvpVIx0JXhHGHhLYzbAnw/exec'
    var formApp = new Vue({
        el: '#form',
        methods: {
            share() {
                var dict = {}
                complicationsApp.flatten(dict)
                infectionApp.flatten(dict)
                let data = new FormData()
                for ( key in dict) {
                    data.append(key,dict[key]);
                }
                var st = JSON.stringify(dict)
                console.log(st)
                if (confirm("You are about to share this data for our research. Please confirm")) {
                    fetch(scriptURL, {
                        method: 'POST',
                        body: data
                    })
                    .then(response => alert("Successfully shared."))
                    .catch(error => alert('Error!' + error.message + ' Data was not shared. Please try again later.'))
                } else {
                    alert("Aborted. Data was not shared.")
                }
            }
        }
    })

</script>